@model AssignPartyModel
@inject Asp.Net_Exercise_03.Repository.IPartyRepository _PartyRepo
@inject Asp.Net_Exercise_03.Repository.IProductRepository _ProductRepo 
@{
    ViewData["Title"] = "Assign Party";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="text-center">@ViewData["message"]</div>
<form asp-controller="AssignParty"
      method="post">
    <div class="form-group row">
        <label asp-for="party" class="my-2 col-form-label col-sm-2">Party Name:</label>
        <div class="col-sm-10">
            <select asp-for="party" name="party" class="form-control my-2" asp-items="(await _PartyRepo.GetAllPartiesAsync()).Select(x => new SelectListItem() { Text = x.party_name, Value = x.party_id.ToString() })" ></select>
            <span class="text-danger" asp-validation-for="party"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="product" class="my-2 col-form-label col-sm-2">Party Name:</label>
        <div class="col-sm-10">
            <select asp-for="product" name="product" class="form-control my-2" asp-items="(await _ProductRepo.GetAllProductsAsync()).Select(x => new SelectListItem() { Text = x.product_name, Value = x.product_id.ToString() })" ></select>
            <span class="text-danger" asp-validation-for="product"></span>
        </div>
    </div>
    <div class="form-group justify-content-center row">
        @if (ViewData["Title"] == "Assign Party")
        {
            <input type="submit" asp-controller="AssignParty" asp-action="AssignPartyAdd" value="Assign Party" class="btn btn-success m-3" />
        }
        else
        {
            <input type="submit" asp-controller="AssignParty" asp-action="AssignPartyEdit" value="Update Party" class="btn btn-success m-3" />
        }
        <input type="reset" value="Cancel" class="btn btn-light m-3" />
    </div>
</form>

